---
// components
import Section from "../elements/Section.astro";
import Text from "../elements/Text.astro";
---

<Section 
    aria-label="Introduction"
    title="Introduction"
    titleHeading="Hey there!"
>
    <Text variant={'normal'} class="text-base-400">Hi, I’m Paraskevas I. Dimitropoulos — a full-stack software developer primarily working with .NET, C#, and SQL among others. In my day-to-day work, I build and maintain desktop and web applications for toll road operators and public transport clients, contributing across databases, backend systems, frontend maintenance, and production support. This blog is where I share personal coding projects, experiments, and what I’m learning as I grow across the stack.</Text>
</Section>
